# Default ignored files
/shelf/
/workspace.xml

# Maven
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/logs/
/dependency-reduced-pom.xml
/release.properties
/.mvn/timing.properties
.mvn/timing.properties

# IntelliJ IDEA
/.idea
/*.iml
/*.ipr
/*.iws
/out/

# Git submodules
/.gitmodules
/.git/submodule-name

# Mac OS
.DS_Store

# Windows
Thumbs.db